<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Document</title>
    <style>
        header{
            display: flex;
            justify-content: space-evenly;
        }
        #members, #tasks{
            text-align: center;
        }
        main{
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <header>
        <div id="welcome">
            <h1>hi <%= userName %> </h1>
        </div>
        <div id="profile">
            <a href="/personalpage"><button>Your Profile</button></a>
        </div>
        <div id="logout">
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">Log Out</button>
            </form>
        </div>
        
    </header>

    <main> 
        <div id="members"> 
            <h2>List of Members</h2>
          
        </div>
        <div id="tasks">
            <h2> Here are the current list of task that is not assigned to anyone yet :</h2>
            <% for (let i = 0; i < filter_task.length; i++) { %>
                <h3> <%= filter_task[i].task_name %> </h3>
                    <a href= <%= "/details/"  + filter_task[i].id %> ><button>More details</button></a>
            <% } %>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/mainpage.js"></script>
</body>
</html>

