
body{
    text-align: center;
    display: inline-block;
    width: 30%;
    margin-left: 30%;
    font-family: 'Inconsolata', monospace;
    margin-top: 10%;
    background-image: url(https://wallpaperaccess.com/full/1567666.png);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    margin-left: 50%;
    font-family: 'Inconsolata', monospace;

}
.email{
    display: inline-block;
}

article{
    margin-left: 0%;
}

