
.button {
    background: none;
}
  
.button:active{
    background:olive;
}

.button:focus{
    background:olive;
}

.back-btn {
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
}